@media only screen and (max-width: 768px) {
    .job-list {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .job-list {
        width: 70%;
        margin: auto;
    }
}

.job-list .search {
    padding: 8px;
    background-color: white;
    border-radius: 6px;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*transition: height 2s ease-in-out;*/
    height: auto;
}

.job-list .search-input {
    margin-bottom: 8px;
}

.job-list .list-item {
    background-color: white;
    margin: 12px 0;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.job-list .list-item:hover {
    box-shadow: 0 0 0 rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}

.job-list .tag {
    border-radius: 20px;
    padding: 2px 10px;
}

.job-list .list-tag:hover {
    filter: invert(10%);
}

.job-list .btn-add-job {
    border-radius: 6px;
    font-weight: bold;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3;
    box-shadow: 0 0 0 rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}

.job-list .radio {
    width: 100%;
}

.job-list .radio-item {
    width: 20%;
    text-align: center;
}

.job-list .S {
    color: black;
    background-color: whitesmoke;
}

.job-list .A {
    color: green;
    background-color: lightgreen;
}

.job-list .P {
    color: blue;
    background-color: lightblue;
}

.job-list .D {
    color: black;
    background-color: grey;
}

.job-list .C {
    color: red;
    background-color: lightpink;
}